.schedule {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	padding: 1em;
}

#clock {
	padding: 0.25em;
}

.schedule #info-panel h4 {
	margin-top: 0.1em;
}

.schedule #info-panel .list-group-item {
    border: 0px none transparent;
}

.schedule #info-panel .list-group-item ul li {
	margin-bottom: 0.4em;
}

.schedule tr {
	-webkit-transition: font-weight 0.5s ease, font-size 0.5s ease, background 0.5s ease;
	-o-transition: font-weight 0.5s ease, font-size 0.5s ease, background 0.5s ease;
	transition: font-weight 0.5s ease, font-size 0.5s ease, background 0.5s ease;
	font-weight: normal;
	font-size: 1em;
}

.schedule tr.success {
	font-weight: bold;
	font-size: 1.1em;
}

.live.schedule .row {
    overflow-y: auto !important;
}

#schedule-btn {
	position: absolute;
	bottom: 0em;
	left: 0em;
	right:0em;
}

.live.schedule #schedule-btn {
	display: none;
}

.schedule #info-panel .list-group-item {
	margin-top: 0em;
	margin-bottom: 0em;
	border-bottom: 1px solid #CBCBCB;
}

.schedule {
	background-image: url("../img/bg-test-v2.jpg");
	background-position: center center;
	-webkit-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 6em;
}

#scroller {
	position: absolute;
	bottom: 0em;
	left: 1em;
	right: 1em;
	height: 3em;
	padding: 0;
}

#scroller img {
	height: 1em;
	display: inline-block;
	position: relative;
	top: -0.11em;
	-webkit-border-radius: 0.1em;
	        border-radius: 0.1em;
}

#scroller .scroll-content {
	height: 3em;
	padding: 0.5em;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

#scroller .scroll-content > * {
	margin-top: 0;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.row {
	min-height: 100%;
	height: 100%;
}

.row > * {
	height: 100%;
	overflow-y: hidden;
}

.row > * > .panel {
	height: 100%;
	overflow-y: hidden;
	position: relative;
}

.live.schedule .row > * > .panel > .panel-content-wrapper {
	overflow-y: hidden !important;
}

.row > * > .panel > .panel-content-wrapper {
	overflow-y: auto;
	position: absolute;
	top: 38px;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
}

.slider-container {
	border: 1em solid white;
	-webkit-box-shadow: 0 0 2em 1em white;
	        box-shadow: 0 0 2em 1em white;
	background: white;
	position: absolute;
	top: 66%;
	left: 0;
	right: 0;
	bottom: 0;
}

#image-display {
	margin-top: -1px;
	border-bottom: 0 none transparent;
	padding: 0px;
   margin-bottom: 0;
}

#image-display .slide-img.current-img {
	opacity: 1;
}

#image-display .slide-img {
	-webkit-background-size: contain;
	        background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

.schedule .table {
	font-size: 0.9em;
}

.schedule .table td {
	vertical-align: middle;
}

.media {
	text-align: center;
    margin-top: -0.75em;
    padding-bottom: 0.5em;
}

.row > *:first-child > .panel {
	background: white;
	-webkit-background-size: 100% 100%;
	        background-size: 100%;
	background-position: bottom center;
	background-repeat: no-repeat
}

.tweets-container .panel-heading * {
	display: inline;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.event_cancelled {
	text-decoration: line-through;
}

.slick-slide > * {
	left: 0;
	position: relative;
}

.schedule.portrait > .row > * {
	width: 100% !important;
	height: 50% !important;
}

.schedule.portrait > .row > *:nth-child(1) .panel {
	-webkit-border-bottom-left-radius: 0;
	        border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	        border-bottom-right-radius: 0;
}

.schedule.portrait > .row > *:nth-child(2) .panel {
	-webkit-border-top-left-radius: 0;
	        border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	        border-top-right-radius: 0;
}

.schedule.no-animation * {
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	-webkit-animation: none !important;
	        animation: none !important;
}

.schedule.landscape > .row > * {
	width: 50% !important;
	height: 100% !important;
}

@media only screen and (max-width: 991px) {
	.schedule > .row > * {
		height: 50%;
	}
}